<div>
  <img src="/assets/profile-pic.jpeg" alt="Headshot of Léandre ISKIN">
  <p>
  Bonjour, je suis <strong>Léandre</strong>, étudiant en mathématiques appliquées à HEC Montréal.
  Vous pouvez découvrir certains de mes travaux sur <a href="https://github.com/leandreisk" target="_blank">GitHub</a>,
  ou en apprendre davantage sur moi sur <a href="https://leandre-iskin.com" target="_blank">mon site web</a>.
</p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
